html {
    direction: rtl;
}

header, .center, footer {
    min-height: 80px;
    border: 2px solid blue;
}

header {
    background-color: white;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.header_top {
    min-height: 20px;
    color: rgb(96, 177, 239);
    direction: ltr;
    text-align: center;
    width: 100%;
}

.main_nav {
    background-color: lightgray;
    min-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.main_nav a {
        text-decoration: none;
        font-size: 24px;
        color: darkblue;
        margin: 10px;
    }


.center {
    background-color: lime;
    margin-bottom: 5px;
    display: flex;
}

main, aside {
    min-height: 300px;
}

main {
    background-color: black;
    flex: 4;
    color: white;
    padding: 5px 10px;
    text-align: left
}

aside {
    background-color: gray;
    flex: 1;
    padding: 5px;
    text-align: center;
}

footer {
    background-color: orange;
}

.GameImage{
    width: 200px
}

.dice {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;
}

.dice figure:nth-child(1){ 
    grid-column: 1;
    grid-row: 1; 
}

.dice figure:nth-child(2){ 
    grid-column: 3;
    grid-row: 1; 
}

.dice figure:nth-child(3){ 
    grid-column: 2;
    grid-row: 2; 
}

.dice figure:nth-child(4){ 
    grid-column: 1;
    grid-row: 3; 
}

.dice figure:nth-child(5){ 
    grid-column: 3;
    grid-row: 3; 
}

figcaption {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
}